.french {
  background-color: #db5705;
  float: left;
  width: 0.5em;
  height: auto;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
}

.french > div {
  background-color: #425f77; /* phishtracks track duration */
  width: 100%;
  height: 100%;
  position: relative;
}

.songInfo, li > a > span {
  margin-left: 0.25em;
}
