.pt-buddy {
  background-color: #00805F;
  float: left;
  width: 0.25em;
  height: auto;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
}

.pt-buddy > div {
  background-color: rgb(204, 241, 230);
  width: 100%;
  height: 100%;
  position: relative;
}

.songInfo, li > a > span {
  margin-left: 0.25em;
}
